.overlay-card {
  width: 75%; /* Ajustez la largeur selon vos besoins */
  margin: 0 auto; /* Centrer la carte horizontalement */
  border-radius: 20px; /* Ajustez le rayon de bordure selon vos besoins */
  overflow: hidden; /* Assurez-vous que le contenu ne dépasse pas la carte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre pour un effet de carte */
  margin-top: 20px; /* Ajustez la marge supérieure selon vos besoins */
}

.overlay {
  background: url('../../../assets/pompistbg.png') center/cover no-repeat; /* Utilisez 'cover' pour que l'image couvre toute la carte */
  height: 90vh; /* Ajustez cette hauteur selon vos besoins */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 25px; /* Ajustez le rayon de bordure selon vos besoins */
  overflow: hidden; /* Assurez-vous que le contenu ne dépasse pas la carte */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: absolute;
  top: 20px;
  left: 5%;
}

.logo {
  height: 50px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.power-btn {
  font-size: 2rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1220px;
}

.fuel-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: rgba(45, 134, 185, 0.3);
  padding: 100px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  border-right: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}

.fuel-card {
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon-btn {
  font-size: 15rem; /* Augmentez la taille de l'icône selon vos besoins */
  background: transparent;
  border: none;
  cursor: pointer;
}

.red-icon {
  color: green; /* Changez la couleur en rouge */
}

.green-icon {
  color: brown; /* Changez la couleur en vert */
}

.fuel-card h2 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.diesel h2 {
  color: green;
}

.gazoil h2 {
  color: brown;
}

.input-fields {
  display: none; /* Caché par défaut */
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.input-fields label,
.input-fields input {
  width: 100%;
  text-align: center;
}