<div class="dashboard-layout">
  <div class="dashboard-container">
    <div class="overlay-card">
      <div class="overlay">
        <button class="power-btn" (click)="logout()">
          <i class="fas fa-power-off"></i>
        </button>
        <div class="fuel-options">

          <!-- Déplacez le bouton et le menu déroulant en haut -->
          <div class="fuel-card">
            <button id="fuel-btn" class="icon-btn">
              <i class="fas fa-gas-pump"></i> DIESEL
            </button>
            <select id="fuel-select" class="select-btn">
              <option *ngFor="let fuel of availableFuelTypes" [value]="fuel">{{ fuel.toUpperCase() }}</option>
            </select>
          </div>
          <!-- Les champs de saisie restent en dessous -->
          <div id="input-fields" class="input-fields" style="display: none;">
            <label for="amount">Montant:</label>
            <input type="number" id="amount" name="amount">
            <label for="volume">Volume/L:</label>
            <input type="number" id="volume" name="volume">
            <div id="error-message" class="error-message" style="visibility: hidden;">{{ errorMessage }}</div>

            <div class="button-group">
              <button id="cancel-btn" type="button" class="btn cancel-btn">Annuler</button>
              <button id="validate-btn" type="button" class="btn validate-btn">Valider</button>
            </div>

              <!-- Modal Structure -->
              <div *ngIf="errorMessage" class="modal-overlay">
                <div class="modal-content">
                  <h2>Erreur</h2>
                  <p>{{ errorMessage }}</p>
                  <button (click)="closeErrorModal()">Fermer</button>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Structure -->
  <div *ngIf="showSuccessModal" class="modal-overlay">
    <div class="modal-content">
      <h2>{{ msg }}</h2>
      <p>Carburant: {{ carburant }}</p>
      <p>Litres achetés: {{ litresAchetes }}</p>
      <p>Montant: {{ montant }}</p>
      <p>Montant restant: {{ montantRestant }}</p>
      <button (click)="closeModal()">Fermer</button>
    </div>
  </div>
</div>
