<nav class="sidebar">
  <h3><a routerLink="/admin/dashboard"><fa-icon [icon]="['fas', 'gas-pump']" class="icon smartfuel"></fa-icon> <span class="smartfuel-text">SMARTFUEL</span></a></h3>
  <ul>
    <li><a routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><fa-icon [icon]="['fas', 'tachometer-alt']" class="icon"></fa-icon> Dashboard</a></li>
    <li><a routerLink="/admin/pompes" routerLinkActive="active"><fa-icon [icon]="['fas', 'gas-pump']" class="icon"></fa-icon> Pompes</a></li>
    <li><a routerLink="/admin/utilisateurs" routerLinkActive="active"><fa-icon [icon]="['fas', 'users']" class="icon"></fa-icon> Utilisateurs</a></li>
    <li><a routerLink="/admin/cartes" routerLinkActive="active"><fa-icon [icon]="['fas', 'id-card']" class="icon"></fa-icon> Cartes</a></li>
  </ul>
  <div class="logout">
    <a routerLink="" routerLinkActive="active"><fa-icon [icon]="['fas', 'sign-out-alt']" class="icon logout"></fa-icon> Logout</a>
  </div>
</nav>